{% extends 'layout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}

<div class="row">
  <h1> Agence de location de voitures </h1>
</div>
<div class="row my mx-auto align-items-center text-center" style="height:80vh">
    <div class="div-img-home col-6 text-center align-items-center">
        <img class="img-home img-responsive" src="{{ asset('vehiculeHome/listeVehicule.jpg')}}" alt="">
         <h4>voir la liste des véhicules</h4>
    </div>
    <div class="div-img-home col-6 text-center align-items-center">
         <img class="img-home img-responsive" src="{{ asset('vehiculeHome/locationVehicule.jpg')}}" alt="">
         <h4>Louer un véhicule</h4>
    </div>
</div>

{% endblock %}
